<div class="team-member">
  <img class="team-member__pic" src="{{photo}}" alt="{{name}}">
  <div class="team-member__info">
    <h4 class="team-member__name">{{name}}</h4>
    <p class="content__text">{{function}}</p>
    <p class="content__text content__text--light">{{bio}}</p>
  </div>
</div>