  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <link rel="canonical" href="{{canonical}}">
  <meta itemprop="name" content="{{title}}">
  <meta itemprop="description" content="{{description}}">
  <meta itemprop="image" content="{{image-itemprop}}">
  <!-- Metatags gerais -->
  <meta name="description" content="{{description}}">
  <title>{{title}}</title>
  <meta name="keywords" content="{{keywords}}">
  <!-- Metatags opcionais -->
  <meta name="copyright" content="{{title}}">
  <meta name="revisit-after" content="1 day">
  <meta name="author" content="{{author-name}}">
  <!-- Twitter Card -->
  <meta name="twitter:card" content="summary">
  <meta name="twitter:site" content="@bonsaiux">
  <meta name="twitter:title" content="{{title}}">
  <meta name="twitter:description" content="{{description}}">
  <meta name="twitter:image" content="{{image-twitter}}">
  <meta name="twitter:url" content="{{canonical}}">
  <!-- Facebook Open Graph -->
  <meta property="og:title" content="{{title-facebook}}">
  <meta property="og:site_name" content="{{title}}">
  <meta property="og:url" content="{{canonical}}">
  <meta property="og:description" content="{{description}}">
  <meta property="og:image" content="{{image-facebook}}">
  <!-- tags opcionais -->
  <meta property="og:type" content="website">
  <meta property="og:locale" content="pt_BR">
  <meta property="og:locale:alternate" content="en_US">
  <meta property="article:author" content="{{author-url}}">
  <meta property="article:publisher" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
